:root {
  /* Colors */
  --clr-white: 0 0% 100%;
  --clr-dark: 233 43% 4%;
  --clr-purple-dark: 248 52% 36%;
  --clr-purple-mid: 245 46% 56%;
  --clr-purple-light: 248 66% 84%;
  --clr-light: 0 0% 97%;
  --clr-warning: 0 70% 49%;
  --clr-selected: 119 48% 49%;
  /* --clr-grey-dark: 0, 0%, 66.3%;
  --clr-grey-mid: 211, 12%, 48%;
  --clr-grey-light: 0, 0%, 93%; */

  /* Font sizes */
  --fs-600: 3.125rem;
  --fs-500: 2.625rem;
  --fs-400: 1.875rem;
  --fs-300: 1.375rem;
  --fs-200: 1rem;

  /* Fonts */
  --ff-heading: "Share Tech Mono", monospace;
  --ff-normal: "Lato", sans-serif;
  --ff-number: "VT323", monospace;
}

/* ---------------------------- */
/* Reset                        */
/* ---------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  line-height: 1.6;
  min-height: 100vh;
  font-family: var(--ff-normal);
  background: hsl(var(--clr-dark));
  overflow-x: hidden;
  color: hsl(var(--clr-light));
}
body::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background-image: url("./Assets/LandingPage/Neural-background.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Reset Anchor tags */
a {
  text-decoration: none;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/* Remove animations and smooth scroll for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------- */
/* Utility Classes              */
/* ---------------------------- */

.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

.d-block {
  display: block;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding: 1em 3em;
  /* margin-inline: auto; */
  max-width: 80rem;
}
.bold {
  font-weight: bold;
}

/* Screen Reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colors */
.bg-transparent {
  background: transparent;
}
.bg-dark {
  background: hsl(var(--clr-dark));
}

.bg-purple-dark {
  background: hsl(var(--clr-purple-dark));
}
.bg-purple-mid {
  background: hsl(var(--clr-purple-mid));
}
.bg-purple-light {
  background: hsl(var(--clr-purple-light));
}

.bg-light {
  background: hsl(var(--clr-light));
}

.bg-warning {
  background: hsl(var(--clr-warning));
}

.bg-selected {
  background: hsl(var(--clr-selected));
}

/* Text Colors */
.text-light {
  color: hsl(var(--clr-light));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-purple-light {
  color: hsl(var(--clr-purple-light));
}
.text-purple-mid {
  color: hsl(var(--clr-purple-mid));
}
.text-purple-dark {
  color: hsl(var(--clr-purple-dark));
}

/* Font sizes */
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.uppercase {
  text-transform: uppercase;
}

/* Fonts */
.ff-normal {
  font-family: var(--ff-normal);
}

.ff-heading {
  font-family: var(--ff-heading);
}

.ff-number {
  font-family: var(--ff-number);
}

.grid-container {
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.grid-container p {
  max-width: 50ch;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}
input[type="radio"]:checked + label > img {
  /* border: 1px solid #fff; */
  box-shadow: 0 0 15px 3px hsl(var(--clr-purple-mid));
}
/* Components */
.btn-solid {
  display: flex;
  place-content: center;

  padding: 0.5em 5em;
  border-radius: 17px;
  border: 0;
  max-width: 5rem;
  background-color: hsl(var(--clr-purple-mid));
}
.btn-solid:hover {
  background-color: hsl(var(--clr-purple-dark));
  transition: 0.2s ease-in;
}

.btn-outline {
  display: flex;
  place-content: center;
  padding: 0.5em 5em;
  border-radius: 17px;
  border: 1px solid hsl(var(--clr-light));
  max-width: 5rem;
}
.blurred {
  filter: contrast(0);
}

.btn-outline:hover {
  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
  transition: 0.2s ease-in;
}

.numbered-indicators {
  display: block;
  /* background-color: currentColor; */
}

.numbered-indicators > button {
  position: relative;
  margin-right: 6rem;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0 1em;
  border: 4px solid white;
  font-size: 1.3rem;
}
.numbered-indicators > button:not(:last-child):after {
  content: "";
  position: absolute;
  top: 1em;
  left: 2.5em;
  background-color: hsl(var(--clr-light));
  width: 6.5rem;
  height: 3px;
  display: block;
}
.numbered-indicators > button.active {
  background-color: hsl(var(--clr-white) / 0.5);
}

.back-arrow {
  display: inline-block;
  border: solid white;
  border-width: 0 3px 3px 0;

  padding: 4px;
  transform: rotate(135deg);
}
.text-input {
  padding: 0.7em;
  width: 22.3rem;
  border-radius: 15px;
  border: 0;
  /* font-size: px; */
}

/* Page specific Content */

.landing-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(var(--clr-purple-mid)), black);
  clip-path: circle(90% at 0% 50%);
  flex-direction: column;
  justify-content: space-between;
}
.landing-image div {
  margin: 2rem 0;
}
.landing-image img {
  min-width: 20%;
  position: relative;
}

.landing-image p {
  margin-right: 7rem;
  padding-right: 10rem;
}
.heading-title {
  position: relative;
}
.heading-title::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 90%;
  background-color: white;
  display: block;
  left: -50px;
  top: 10px;
}
/* .landing-image::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;

  clip-path: circle(90% at 0% 50%);

  z-index: 100;
  background: linear-gradient(
      120deg,
      rgba(101, 93, 195, 0.5),
      transparent,
      rgba(101, 93, 195, 0.5)
    ),
    url("./Assets/LandingPage/laptop-image--desktop.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.page-content {
  position: relative;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  /* z-index: 100; */
}

.landing-form > * {
  margin: 0.5em 0;
}
.form-heading {
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
}

.landing-form > a {
  position: relative;
  text-align: left;
}

.landing-form > a::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5px;
  bottom: -4px;
  right: 0;
  left: 0;
  background-color: hsl(var(--clr-light));
  margin: 0 auto;
  transition: 0.5s;
}
.landing-form > a:hover::after {
  width: 100%;
}

.grid--categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.category-text {
  margin-top: 3rem;
  align-items: center;
  justify-content: space-between;
}
.category-text > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* .input-hidden {
  position: absolute;
  left: -9999px; */
/* } */

.categories {
  margin-top: 3rem;
  display: grid;
  row-gap: 3rem;
  column-gap: 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.categories p {
  margin-bottom: 10px;
}
.password-container {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 15px;
  margin-inline: auto;
  background-color: hsl(var(--clr-purple-mid));
}
.password-img {
  width: 4rem;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 15px;
  margin-inline: auto;
  /* border: 2px solid white; */
  content-visibility: auto;
  object-position: center center;
}

.category-submit {
  place-content: center;
  margin: auto;
  /* width: 420%; */
  padding-left: 170%;
  padding-top: 10%;
}

.category-image-small {
  width: 6rem;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 15px;
  margin-inline: auto;
  /* border: 2px solid white; */
  content-visibility: auto;
  object-position: center center;
}

.category-image-large {
  height: 100vh;
  background: hsl(var(--clr-purple-mid));
  transition: left 0.3s linear;
  aspect-ratio: 1;
  clip-path: circle(100% at 100% 50%);
  /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
  transition: transform 1s ease-in-out;
  /* animation-name: crossfade;
  animation-duration: 2secs; */
}

#flags-bg {
  background: url("./Assets/Categories/flag-large.webp");
  background-position: center;
  background-size: cover;
}
#animals-bg {
  background: url("./Assets/Categories/animals-large.webp");
  background-position: center;
  background-size: cover;
}
#apps-bg {
  background: url("./Assets/Categories/app-large.webp");
  background-position: center;
  background-size: cover;
}
#fruits-bg {
  background: url("./Assets/Categories/fruits-large.jpg");
  background-position: center;
  background-size: cover;
}
#emojis-bg {
  background: url("./Assets/Categories/emoji-large.jpg");
  background-position: center;
  background-size: cover;
}
#traffic-bg {
  background: url("./Assets/Categories/traffic-sign-large.webp");
  background-position: center;
  background-size: cover;
}
#flower-bg {
  background: url("./Assets/Categories/flowers-large.jpg");
  background-position: center;
  background-size: cover;
}
#food-bg {
  background: url("./Assets/Categories/food-large.jpg");
  background-position: center;
  background-size: cover;
}

.gray-passwords > button {
  overflow: hidden;
}
.gray-passwords:hover img {
  filter: blur(30px);
  /* transform: scale(1.6); */
}
.passwords {
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}
.password-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
}

.choose-passwords {
  display: grid;

  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 3rem;
}

.choose-passwords .password-image {
  background-color: white;
  z-index: 0;
  position: relative;
}

.password-btn {
  border: 0;
  padding: 0;
}
.password-submit {
  place-content: center;
  margin: auto;
  /* width: 420%; */
  padding-left: 35%;
  padding-top: 10%;
}
.pop-up {
  position: absolute;

  width: 24.4rem;
  height: 10rem;
  background: hsl(var(--clr-purple-dark));
  /* backdrop-filter: blur(0.9rem); */
  left: 53.5%;
  transform: translate(-50%, -50%);

  border-radius: 15px;

  padding: 10px;
  align-items: center;
  justify-content: center;
  top: 20%;
  border: 2px solid hsl(var(--clr-warning));
  display: none;
  z-index: 1000;
}
.pop-up p {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--ff-heading);
}
.message-box {
  position: absolute;
  width: 50rem;
  height: 20rem;
  background: hsl(var(--clr-white) / 0.05);
  backdrop-filter: blur(0.3rem);
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 15px;

  padding: 10px;
  align-items: center;
  justify-content: center;
  top: 50%;
}
.error {
  border: 2px solid hsl(var(--clr-warning));
}
.success {
  border: 2px solid hsl(var(--clr-selected));
}

.backspace-btn {
  margin-inline: auto;
  /* background-color: red; */
}
