{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Share+Tech+Mono&family=VT323&family=Work+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/index.css' %}">
    <script src="{% static 'main/index.js' %}" defer></script>
    <script src="{% static 'main/pictures.js' %}" defer></script>
    <link rel="icon" href="{% static 'main/Assets/aicte_logo.png' %}">

    <title>SIH - Choose password</title>
</head>

<body class="choose-pwd-page">
    <main class="container">
        <header>
            <div class="numbered-indicators flex flow ">
                <button aria-selected="true" class="bg-purple-mid ff-number  bg-transparent  text-light"><span
                        class="sr-only">Page
                        Number</span>1</button>
                <span class="divider"></span>
                <button aria-selected="true" class="bg-grey-mid  ff-number  bg-transparent text-light btn-bg "><span
                        class="sr-only">Page
                        Number</span>2</button>
                <button aria-selected="false " class="text-light active ff-number  bg-transparent"><span
                        class="sr-only">Page
                        Number</span>3</button>
                <button aria-selected="false " class="text-light ff-number  bg-transparent"><span class="sr-only">Page
                        Number</span>4</button>
            </div>
            <div class="category-text flex">
                <div>
                    <a href="/" class="back-arrow"></a>
                    <div>
                        <h1 class="ff-heading fs-400">Choose Password</h1>
                        <p>Choose minimum 4 images</p>
                    </div>

                </div>

                <div>
                    <img src=" {% static 'main/Assets/backspace.png' %}" onclick="backspace()"
                        style="align-self: end;"></img>
                </div>
            </div>
        </header>
        <div class="flex passwords" style="--gap: 1.5em">
            <div class="password-pattern">
                <form action="" class="choose-passwords flex">
                </form>
            </div>
            <div class="password-options">
                <div action="" class="">
                    <div class="selected-passwords password-grid"></div>
                </div>

            </div>
            <form id="myForm" action="" class="landing-form flow" method="post">
                {% csrf_token %}
                <input type="hidden" id="pwdInput" name="pwdValue" value=""></input>
                <div class="flex">
                    <button type="button" class="btn-solid  text-light" onclick="doSubmit()">Next</button>
                </div>


            </form>

        </div>
        <script id="myScript" script="pictures.js" data-category="{{cat}}"></script>


    </main>

</body>