{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/index.css' %}">
    <link rel="icon" href="{% static 'main/Assets/aicte_logo.png' %}">
    <title>Smart India Hackthon - AICTE</title>
</head>

<body>
    <div class="container flow">
        <div class="numbered-indicators flex flow">
            <button aria-selected="true" class="ff-number bg-transparent bg-purple-mid text-light"><span
                    class="sr-only">Page
                    Number</span>1</button>
            <span class="divider"></span>
            <button aria-selected="false" class="text-light bg-purple-mid ff-number  bg-transparent"><span
                    class="sr-only">Page
                    Number</span>2</button>
            <button aria-selected="false " class="text-light bg-purple-mid ff-number  bg-transparent"><span
                    class="sr-only">Page
                    Number</span>3</button>
            <button aria-selected="false " class="text-light bg-purple-mid active ff-number  bg-transparent"><span
                    class="sr-only">Page
                    Number</span>4</button>
        </div>
        <section class="category-text flex">
            <div>
                <a href="/" class="back-arrow"></a>
                <div>
                    <h1 class="ff-heading fs-400">Verify Mail ID</h1>
                    <p class="ff-normal">Confirm your mail ID</p>
                </div>
            </div>

        </section>
        <form action="" class="message-box reset flex flow" style="flex-direction: column;">

            <p class="fs-300 ff-heading">Enter the 4-digit One Time Password sent to your mail ID</p>
            <p>(my*****@gmail.com)</p>
            <input type="text" class="OTP" placeholder="Enter OTP">
            <button class="btn-solid bg-purple-mid text-light" type="button"
                onclick="window.location.href = '/'">Okay</button>
        </form>
    </div>
</body>

</html>