{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/index.css' %}">
    <link rel="icon" href="{% static 'main/Assets/aicte_logo.png' %}">
    <title>Smart India Hackthon - AICTE</title>
</head>

<body>
    <form action="" class="message-box error flex flow" style="flex-direction: column;">
        <label for="">
            <p class="fs-300 ff-heading">{{message}}</p>
        </label>
        <button class="btn-solid bg-purple-mid text-light" type="button"
            onclick="window.location.href = '/'">Okay</button>
    </form>

</body>

</html>