{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Share+Tech+Mono&family=VT323&family=Work+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/index.css' %}">
    <link rel="icon" href="{% static 'main/Assets/aicte_logo.png' %}">

    <title>Smart India Hackthon - AICTE</title>
</head>

<body class="landing-page">
    <div class="grid-container grid" style="--grid-gap: 0">

        <div class="landing-image flex ">
            <div class="container flex" style="--flex-gap: 5rem;">
                <img src="{% static 'main/Assets/aicte_logo.png' %}" alt="">
                <p class="fs-400 ff-heading heading-title   ">Smart India Hackathon 2022</p>
            </div>
            <div class="container">
                <p class="fs-400 ff-heading text-purple-light">Team ByeWorld</pfs->
                <p class="fs-500 ff-heading bold">Graphical Password Authentication System</p>
            </div>

        </div>
        <main class="page-content flex">
            <form action="" class="landing-form flow" method="post">
                {% csrf_token %}
                <h1 class="ff-heading form-heading  uppercase">Login</h1>
                <input class="text-input" type="email" name="email" placeholder="Enter email" required>
                <div class="flex" style="--flex-gap: 2rem;">
                    <input class="btn-solid  text-light" name="type" type="submit" value="Login"></input>
                    <input class="btn-outline bg-transparent text-light" name="type" type="submit"
                        value="Register"></input>
                </div>

                <!-- <a href="#" class="text-light">Forgot password?</a> -->
            </form>
        </main>
    </div>
    </main>
</body>

</html>